__pycache__
.ipynb_checkpoints
*.sqlite3

*.html
utils
download-urls.py

backup
cache
output
delete
overleaf
unused
research
download-input.sh

## TODO - create a sample config_example.py without the secret or import the secret
config.py